In [104]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [105]:
df=pd.read_csv('tel_churn.csv')

In [106]:
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure group_1-12,tenure group_13-24,tenure group_25-36,tenure group_37-48,tenure group_49-60,tenure group_61-72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [107]:
df=df.drop('Unnamed: 0',axis=1)

In [108]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure group_1-12,tenure group_13-24,tenure group_25-36,tenure group_37-48,tenure group_49-60,tenure group_61-72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [109]:
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure group_1-12,tenure group_13-24,tenure group_25-36,tenure group_37-48,tenure group_49-60,tenure group_61-72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [110]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [111]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

### Decision Tree Classifier

In [112]:
model_dt=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [113]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [114]:
y_pred=model_dt.predict(x_test)

In [115]:
model_dt.score(x_test,y_test)

0.7874911158493249

In [116]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.89      0.86      1032
           1       0.63      0.50      0.56       375

    accuracy                           0.79      1407
   macro avg       0.73      0.70      0.71      1407
weighted avg       0.78      0.79      0.78      1407

In [117]:
print(confusion_matrix(y_pred,y_test))

[[921 188]
 [111 187]]

In [118]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)

In [119]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [120]:
model_dt_smote=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [121]:
model_dt_smote.fit(xr_train,yr_train)
yr_predict = model_dt_smote.predict(xr_test)
model_score_r = model_dt_smote.score(xr_test, yr_test)
print(model_score_r)
print(metrics.classification_report(yr_test, yr_predict))

0.9236706689536878
              precision    recall  f1-score   support

           0       0.95      0.88      0.91       542
           1       0.90      0.96      0.93       624

    accuracy                           0.92      1166
   macro avg       0.93      0.92      0.92      1166
weighted avg       0.93      0.92      0.92      1166

In [122]:
print(confusion_matrix(yr_test, yr_predict))

[[476  66]
 [ 23 601]]

### Random Forest Classifier

In [123]:
from sklearn.ensemble import RandomForestClassifier

In [124]:
model_rf=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
model_rf.fit(x_train,y_train)
y_pred_rf=model_rf.predict(x_test)

In [125]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      0.89      0.86      1032
           1       0.63      0.50      0.56       375

    accuracy                           0.79      1407
   macro avg       0.73      0.70      0.71      1407
weighted avg       0.78      0.79      0.78      1407

In [126]:
sm=SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)

In [127]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [128]:
model_rf_smote=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [129]:
model_rf_smote.fit(xr_train,yr_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [130]:
y_pred_smote_rf=model_rf_smote.predict(xr_test)

In [131]:
print(classification_report(yr_test,y_pred_smote_rf))

              precision    recall  f1-score   support

           0       0.95      0.90      0.93       529
           1       0.92      0.96      0.94       635

    accuracy                           0.94      1164
   macro avg       0.94      0.93      0.93      1164
weighted avg       0.94      0.94      0.94      1164

In [132]:
model_score_r1 = model_rf_smote.score(xr_test, yr_test)
print(model_score_r1)

0.9355670103092784

In [133]:
print(confusion_matrix(yr_test,y_pred_smote_rf))

[[478  51]
 [ 24 611]]

In [134]:
import pickle

In [135]:
filename='model.sav'

In [136]:
pickle.dump(model_rf_smote,open(filename,'wb'))

In [137]:
load_model=pickle.load(open(filename,'rb'))

In [138]:
load_model.score(xr_test,yr_test)

0.9355670103092784

## Support vector machine(SVM)

In [139]:
from sklearn.svm import SVC
svc_model=SVC(probability=True)
svc_model.fit(x_train, y_train)

SVC(probability=True)

In [140]:
svc_model.score(x_test, y_test)

0.7334754797441365

In [141]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)

In [142]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [143]:
svc_model_r=SVC(probability=True)
svc_model_r.fit(xr_train, yr_train)

SVC(probability=True)

In [144]:
svc_model_r_score=svc_model_r.score(xr_test, yr_test)
print(svc_model_r_score)

0.7448805460750854

In [145]:
Model_comparison=pd.DataFrame({
    'Model':['DecisionTree','Random Forest','SVM'],
    'Score':[model_score_r,model_score_r1,svc_model_r_score]
})
Model_comparison_df=Model_comparison.sort_values(by='Score',ascending=False)
Model_comparison_df=Model_comparison_df.set_index('Score')
Model_comparison_df.reset_index()

      Score          Model
0  0.935567  Random Forest
1  0.923671   DecisionTree
2  0.744881            SVM